
.drop-zone
{
    position: relative;
    height: 200px;
    border: dashed #e1e5eb 3px;

    &.dragging
    {
        border: dashed $primary 3px;
    }

    .drop-zone-overlay
    {
        background: rgba(white,0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;

        > .drop-zone-overlay-message
        {
            position: absolute;
            left: 0;
            right: 0;
            top: '50%';
            bottom: 0;
            color: gray;
            font-size: 36;
            text-align: center;
        }
    }
    .drop-zone-content
    {
        width: 100%;
        height: 100%;
        padding: 10px;
        overflow-y: auto;

        .drop-zone-file
        {
            position: relative;
            border: 1px solid lightgray;
            box-shadow: 4px 4px 14px -11px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 10px;

            &:not(:last-child)
            {
                margin-bottom: 10px;
            }

            .drop-zone-file-x
            {
                position: absolute;
                top: 4px;
                right: 4px;
                content: '&times;';
                color: white;
                font-weight: 200;
                font-family: Arial, sans-serif;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $danger;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 1px solid darken($danger, 10%);
                box-shadow: 4px 4px 14px -11px rgba(0, 0, 0, 0.75);
                &:hover
                {
                    background: lighten($danger, 10%);
                }
                &:active
                {
                    background: darken($danger, 10%);
                }
            }
        }
    }

    &.disabled
    {
        color: $text-muted;
        background: $input-disabled-bg;
        
        .drop-zone-file-x
        {
            cursor: unset;
        }
    }
}
